<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="HomeWork">
    <meta name="author" content="AlexNikolenko">
    <title>Homework #1</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-md navbar-light bg-warning">
    <a class="navbar-brand" href="/matrix">Matrix Magic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if page_name == 'index' %} active {% endif %}">
                <a class="nav-link" href="/matrix">Home</a>
            </li>
            <li class="nav-item {% if page_name == 'det' %} active {% endif %}">
                <a class="nav-link" href="/matrix/determinant/">Determinant</a>
            </li>
            <li class="nav-item {% if page_name == 'mult' %} active {% endif %}">
                <a class="nav-link" href="/matrix/multiply/">Multiply</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container shadow p-3" style="margin-top: 32px; margin-bottom: 64px; background-color: white">

    {% block content %}
    {% endblock %}


</main><!-- /.container -->

<div class="navbar fixed-bottom navbar-light bg-light">

    <div class="container">
        <span class="text-muted align-bottom">By <a href="//t-do.ru/alexnikolenko" target="_blank"
                                                    class="badge badge-secondary align-middle">@alexnikolenko</a> &
            <a href="//t-do.ru/ikkalinkin" target="_blank"
               class="badge badge-secondary align-middle">@ikkalinkin</a></span>
    </div>
    <!--<span class="navbar-text">
              По всем вопросам обращаться <a href="https://telegram.me/alexnikolenko" target="_blank">@alexnikolenko</a>-->

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>