{% extends 'matrix_magic/base.html' %}

{% block content %}

    {% if status == 0 %}


        <h1>
            Вычисление определителя
        </h1>
        <p class="lead">
            На это странице вы можете посчитать определитель матрицы.
        </p>

        <h3>
            Элементы матрицы вводятся через пробел, строчки разделяются пробелом!
        </h3>

        <div id="alerts"></div>

        <form class="form-group" method="post" id="test_form">{% csrf_token %}
            <div class="form-group">
                {{ form.data }}
            </div>
            <div class="form-actions">
                <button type="button" onclick="go();" class="btn btn-warning btn-cm btn-block">Рассчитать</button>
            </div>
            <br>
        </form>

        <script>
            $("#id_data").prop("required", true)
                .addClass("form-control text-monospace")
                .val("1 2 3\n0 2 3\n0 0 3")
                .on({
                    input: function () {
                        refresh_form();
                    }
                });

            function go() {
                if (is_valid($("#id_data").val())) {
                    $('#test_form').submit();
                }
                else {
                    $("#id_data").addClass("is-invalid");
                    Alert('Обязательное поле', 'danger')
                }

            }

            function is_valid(data) {
                return !(data.trim().split(/\s+/)[0] === "")
            }

            function refresh_form() {
                $("#id_data").removeClass("is-invalid");
            }

            function Alert(message, type) {
                $('#alerts').html(
                    '<div class="alert alert-' + type + ' alert-dismissible fade show" role="alert"">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close" ' +
                    'onclick="refresh_form();">' +
                    '<span aria-hidden="true">&times;</span>' +
                    '</button>' + message + '</div>');
            }
        </script>

    {% elif status == 1 %}
        {% if err_code == 200 %}
            <h2>Полученный определитель равняется: {{ ans }}</h2>

        {% elif err_code == 420 %}

            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <a href="/matrix/determinant" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                {{ msg }}
            </div>
            {#                Что-то пошло не так, свяжитесь с <a class="alert-link"#}
            {#                                                    href="https://telegram.me/alexnikolenko"#}
            {#                                                    target="_blank">@alexnikolenko</a></div>#}
        {% endif %}
        <div class="row">
            <div class="col-xl-6">
                <a href="/matrix/determinant" class="btn btn-warning btn-block" role="button">
                    Хочу еще!
                </a><br>
            </div>

            <div class="col-xl-6">
                <div id="accordion">
                    <button class="btn btn-outline-secondary btn-cm btn-block collapsed" type="button"
                            data-toggle="collapse"
                            data-target="#collapse_0" aria-expanded="false" aria-controls="collapse_0"> Посмотреть
                        алгоритм
                    </button>
                    <div id="collapse_0" class="multi-collapse collapse" style="">
                        <div class="card">
                            {#-------------------------------------------------------#}
                            <!-- HTML generated using hilite.me -->
                            <div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre
                                    style="margin: 0; line-height: 125%"><span
                                    style="color: #008800; font-weight: bold">def</span> <span
                                    style="color: #0066BB; font-weight: bold">det</span>(matrix):
    <span style="color: #DD4422">&#39;&#39;&#39;</span>
<span style="color: #DD4422">    Поиск определителя матрицы, путём приведения её к вверхне треугольному виду методом Гаусса</span>
<span style="color: #DD4422">    :param matrix: Вводимая матрицы</span>
<span style="color: #DD4422">    :return: Определитель</span>
<span style="color: #DD4422">    &#39;&#39;&#39;</span>

    n <span style="color: #333333">=</span> <span style="color: #007020">len</span>(matrix)  <span
                                        style="color: #888888"># Размер матрицы</span>
    ans <span style="color: #333333">=</span> <span style="color: #0000DD; font-weight: bold">1</span>  <span
                                        style="color: #888888"># Начинаем с 1</span>

    <span style="color: #008800; font-weight: bold">for</span> i <span
                                        style="color: #000000; font-weight: bold">in</span> <span
                                        style="color: #007020">range</span>(n <span
                                        style="color: #333333">-</span> <span style="color: #0000DD; font-weight: bold">1</span>):  <span
                                        style="color: #888888"># Пробегаемся по всем столбцам,</span>
        <span style="color: #888888"># ищем каждый раз максимальное оставшееся значение в столбце</span>

        max_i <span style="color: #333333">=</span> i  <span
                                        style="color: #888888"># С какого начали тот и максимальный</span>

        <span style="color: #008800; font-weight: bold">for</span> j <span
                                        style="color: #000000; font-weight: bold">in</span> <span
                                        style="color: #007020">range</span>(i <span
                                        style="color: #333333">+</span> <span style="color: #0000DD; font-weight: bold">1</span>, n):  <span
                                        style="color: #888888"># Ищем в остатках, потому что остальные нули</span>
            <span style="color: #008800; font-weight: bold">if</span> <span style="color: #007020">abs</span>(matrix[j][i]) <span
                                        style="color: #333333">&gt;</span> <span style="color: #007020">abs</span>(matrix[max_i][i]):
                max_i <span style="color: #333333">=</span> j

        <span style="color: #008800; font-weight: bold">if</span> max_i <span style="color: #333333">!=</span> i:  <span
                                        style="color: #888888"># Если это не начальный, то надо поменять местами</span>
            matrix[i], matrix[max_i] <span style="color: #333333">=</span> matrix[max_i], matrix[i]
            ans <span style="color: #333333">*=</span> <span style="color: #333333">-</span><span
                                        style="color: #0000DD; font-weight: bold">1</span>  <span
                                        style="color: #888888"># При смене местами знак определителя меняется</span>

        <span style="color: #008800; font-weight: bold">for</span> j <span
                                        style="color: #000000; font-weight: bold">in</span> <span
                                        style="color: #007020">range</span>(i <span
                                        style="color: #333333">+</span> <span style="color: #0000DD; font-weight: bold">1</span>, n):  <span
                                        style="color: #888888"># &quot;Убиваем&quot; элементы под максимальным</span>

            <span style="color: #888888"># Если в какой-то момент разделили на нуль,</span>
            <span style="color: #888888"># это означает, что матрица вырождена</span>
            <span style="color: #008800; font-weight: bold">if</span> matrix[i][i] <span
                                        style="color: #333333">==</span> <span
                                        style="color: #0000DD; font-weight: bold">0</span>:
                <span style="color: #008800; font-weight: bold">return</span> <span
                                        style="color: #6600EE; font-weight: bold">0.0</span>

            <span style="color: #888888"># На диагонали не нулевой, продолжаем &quot;убивать&quot; строки</span>
            t <span style="color: #333333">=</span> matrix[j][i] <span style="color: #333333">/</span> matrix[i][i]

            <span style="color: #008800; font-weight: bold">for</span> k <span
                                        style="color: #000000; font-weight: bold">in</span> <span
                                        style="color: #007020">range</span>(i <span
                                        style="color: #333333">+</span> <span style="color: #0000DD; font-weight: bold">1</span>, n):  <span
                                        style="color: #888888"># Не забываем домножить на коэффциент &quot;убивание&quot; строки</span>
                matrix[j][k] <span style="color: #333333">-=</span> t <span style="color: #333333">*</span> matrix[i][k]

    <span style="color: #008800; font-weight: bold">for</span> i <span
                                        style="color: #000000; font-weight: bold">in</span> <span
                                        style="color: #007020">range</span>(n <span
                                        style="color: #333333">-</span> <span style="color: #0000DD; font-weight: bold">1</span>, <span
                                        style="color: #333333">-</span><span
                                        style="color: #0000DD; font-weight: bold">1</span>, <span
                                        style="color: #333333">-</span><span
                                        style="color: #0000DD; font-weight: bold">1</span>):  <span
                                        style="color: #888888"># Перемножаем диагональ</span>
        ans <span style="color: #333333">*=</span> matrix[i, i]
    <span style="color: #888888"># fixes for fancy looking. (с) Костыли&amp;Велосипеды prod.</span>
    <span style="color: #008800; font-weight: bold">return</span> <span
                                        style="color: #6600EE; font-weight: bold">0.0</span> <span
                                        style="color: #008800; font-weight: bold">if</span> ans <span
                                        style="color: #333333">==</span> <span
                                        style="color: #6600EE; font-weight: bold">0.0</span> <span
                                        style="color: #008800; font-weight: bold">else</span> ans
</pre>
                            </div>

                            {#-------------------------------------------------------#}
                        </div>
                    </div>
                    <br></div>
            </div>
        </div>

    {% endif %}


{% endblock %}