{% extends 'matrix_magic/base.html' %}

{% load static %}

{% block content %}
    <div class="text-center" style="margin-bottom: 16px;"><h1>Селект вот ю вонт ту ду (ту-ду-ту-ту-ду-ду)</h1></div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card lg-4 shadow-sm border-warning" style="margin-bottom: 16px; margin-top: 8px;">
                <div class="text-center"><img class="card-img-top img-fluid"
                                              src="{% static '/img/det.svg' %}"
                                              style="height: 220px; width: auto; margin-top: 16px; padding: 16px;"
                                              alt="Matrix"></div>
                <div class="card-body">
                    <p class="card-text text-center align-middle">&nbsp;Рассчет определителя
                        матрицы путём приведения её к
                        верхнетреугольному
                        виду методом Гаусса.<br>
                        &nbsp;После того как искомый вид найден, для нахождения её определителя достаточно перемножить
                        элементы главной диагонали
                    </p>

                    <a href="/matrix/determinant" class="btn btn-warning btn-block" role="button"
                       style="margin-bottom: 16px;">
                        Хочу посчитать определитель
                    </a>
                    <div id="accordion">
                        <button class="btn btn-outline-secondary btn-cm btn-block collapsed" type="button"
                                data-toggle="collapse"
                                data-target="#collapse_0" aria-expanded="false" aria-controls="collapse_0"> Посмотреть
                            алгоритм
                        </button>
                        <div id="collapse_0" class="multi-collapse collapse" style="">
                            <div class="card">
                                {#-------------------------------------------------------#}
                                <!-- HTML generated using hilite.me -->
                                <div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre
                                        style="margin: 0; line-height: 125%"><span
                                        style="color: #008800; font-weight: bold">def</span> <span
                                        style="color: #0066BB; font-weight: bold">det</span>(matrix):
    <span style="color: #DD4422">&#39;&#39;&#39;</span>
<span style="color: #DD4422">    Поиск определителя матрицы, путём приведения её к вверхне треугольному виду методом Гаусса</span>
<span style="color: #DD4422">    :param matrix: Вводимая матрицы</span>
<span style="color: #DD4422">    :return: Определитель</span>
<span style="color: #DD4422">    &#39;&#39;&#39;</span>

    n <span style="color: #333333">=</span> <span style="color: #007020">len</span>(matrix)  <span
                                            style="color: #888888"># Размер матрицы</span>
    ans <span style="color: #333333">=</span> <span style="color: #0000DD; font-weight: bold">1</span>  <span
                                            style="color: #888888"># Начинаем с 1</span>

    <span style="color: #008800; font-weight: bold">for</span> i <span
                                            style="color: #000000; font-weight: bold">in</span> <span
                                            style="color: #007020">range</span>(n <span style="color: #333333">-</span> <span
                                            style="color: #0000DD; font-weight: bold">1</span>):  <span
                                            style="color: #888888"># Пробегаемся по всем столбцам,</span>
        <span style="color: #888888"># ищем каждый раз максимальное оставшееся значение в столбце</span>

        max_i <span style="color: #333333">=</span> i  <span
                                            style="color: #888888"># С какого начали тот и максимальный</span>

        <span style="color: #008800; font-weight: bold">for</span> j <span
                                            style="color: #000000; font-weight: bold">in</span> <span
                                            style="color: #007020">range</span>(i <span style="color: #333333">+</span> <span
                                            style="color: #0000DD; font-weight: bold">1</span>, n):  <span
                                            style="color: #888888"># Ищем в остатках, потому что остальные нули</span>
            <span style="color: #008800; font-weight: bold">if</span> <span style="color: #007020">abs</span>(matrix[j][i]) <span
                                            style="color: #333333">&gt;</span> <span style="color: #007020">abs</span>(matrix[max_i][i]):
                max_i <span style="color: #333333">=</span> j

        <span style="color: #008800; font-weight: bold">if</span> max_i <span style="color: #333333">!=</span> i:  <span
                                            style="color: #888888"># Если это не начальный, то надо поменять местами</span>
            matrix[i], matrix[max_i] <span style="color: #333333">=</span> matrix[max_i], matrix[i]
            ans <span style="color: #333333">*=</span> <span style="color: #333333">-</span><span
                                            style="color: #0000DD; font-weight: bold">1</span>  <span
                                            style="color: #888888"># При смене местами знак определителя меняется</span>

        <span style="color: #008800; font-weight: bold">for</span> j <span
                                            style="color: #000000; font-weight: bold">in</span> <span
                                            style="color: #007020">range</span>(i <span style="color: #333333">+</span> <span
                                            style="color: #0000DD; font-weight: bold">1</span>, n):  <span
                                            style="color: #888888"># &quot;Убиваем&quot; элементы под максимальным</span>

            <span style="color: #888888"># Если в какой-то момент разделили на нуль,</span>
            <span style="color: #888888"># это означает, что матрица вырождена</span>
            <span style="color: #008800; font-weight: bold">if</span> matrix[i][i] <span
                                            style="color: #333333">==</span> <span
                                            style="color: #0000DD; font-weight: bold">0</span>:
                <span style="color: #008800; font-weight: bold">return</span> <span
                                            style="color: #6600EE; font-weight: bold">0.0</span>

            <span style="color: #888888"># На диагонали не нулевой, продолжаем &quot;убивать&quot; строки</span>
            t <span style="color: #333333">=</span> matrix[j][i] <span style="color: #333333">/</span> matrix[i][i]

            <span style="color: #008800; font-weight: bold">for</span> k <span
                                            style="color: #000000; font-weight: bold">in</span> <span
                                            style="color: #007020">range</span>(i <span style="color: #333333">+</span> <span
                                            style="color: #0000DD; font-weight: bold">1</span>, n):  <span
                                            style="color: #888888"># Не забываем домножить на коэффциент &quot;убивание&quot; строки</span>
                matrix[j][k] <span style="color: #333333">-=</span> t <span style="color: #333333">*</span> matrix[i][k]

    <span style="color: #008800; font-weight: bold">for</span> i <span
                                            style="color: #000000; font-weight: bold">in</span> <span
                                            style="color: #007020">range</span>(n <span style="color: #333333">-</span> <span
                                            style="color: #0000DD; font-weight: bold">1</span>, <span
                                            style="color: #333333">-</span><span
                                            style="color: #0000DD; font-weight: bold">1</span>, <span
                                            style="color: #333333">-</span><span
                                            style="color: #0000DD; font-weight: bold">1</span>):  <span
                                            style="color: #888888"># Перемножаем диагональ</span>
        ans <span style="color: #333333">*=</span> matrix[i, i]
    <span style="color: #888888"># fixes for fancy looking. (с) Костыли&amp;Велосипеды prod.</span>
    <span style="color: #008800; font-weight: bold">return</span> <span
                                            style="color: #6600EE; font-weight: bold">0.0</span> <span
                                            style="color: #008800; font-weight: bold">if</span> ans <span
                                            style="color: #333333">==</span> <span
                                            style="color: #6600EE; font-weight: bold">0.0</span> <span
                                            style="color: #008800; font-weight: bold">else</span> ans
</pre>
                                </div>

                                {#-------------------------------------------------------#}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card lg-4 shadow-sm border-warning" style="margin-bottom: 16px; margin-top: 8px;">
                <div class="text-center"><img class="card-img-top img-fluid"
                                              src="{% static '/img/mult.svg' %}"
                                              style="height: 220px; width: auto; margin-top: 16px; padding: 16px;"
                                              alt="Matrix"></div>
                <div class="card-body">
                    <p class="card-text text-center align-middle">
                        &nbsp;Нахождение произведения двух матриц.
                        &nbsp;Элемент результирующей матрицы, стоящий в i-той строке и j-том столбце (cij), равен сумме
                        произведений элементов i-той строки матрицы A на соответствующие элементы j-того столбца матрицы
                        B.
                    </p>

                    <a href="/matrix/multiply" class="btn btn-warning btn-block" role="button"
                       style="margin-bottom: 16px;">
                        Хочу перемножить матрицы
                    </a>
                    <div id="accordion1">
                        <button class="btn btn-outline-secondary btn-cm btn-block collapsed" type="button"
                                data-toggle="collapse"
                                data-target="#collapse_1" aria-expanded="false" aria-controls="collapse_1"> Посмотреть
                            алгоритм
                        </button>
                        <div id="collapse_1" class="multi-collapse collapse" style="">
                            <div class="card">
                                {#-------------------------------------------------------#}
                                <!-- HTML generated using hilite.me -->
                                <div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre
                                        style="margin: 0; line-height: 125%"><span
                                        style="color: #008800; font-weight: bold">def</span> <span
                                        style="color: #0066BB; font-weight: bold">mul</span>(l, r):
    <span style="color: #DD4422">&#39;&#39;&#39;</span>
<span style="color: #DD4422">    Произведение двух матриц &quot;влоб&quot;. Для этого был написан специальный класс Matrix с методом .shape</span>
<span style="color: #DD4422">    :param l: Левая матрица</span>
<span style="color: #DD4422">    :param r: Правая матрица</span>
<span style="color: #DD4422">    :return: класс Матрицы, полученной произведением</span>
<span style="color: #DD4422">    &#39;&#39;&#39;</span>
    <span style="color: #008800; font-weight: bold">if</span> l<span style="color: #333333">.</span>shape[<span
                                            style="color: #0000DD; font-weight: bold">1</span>] <span
                                            style="color: #333333">!=</span> r<span style="color: #333333">.</span>shape[<span
                                            style="color: #0000DD; font-weight: bold">0</span>]:
        <span style="color: #008800; font-weight: bold">raise</span> NotConsistedMatrices <span style="color: #888888"># Матрицы не согласованны</span>

    n, m, p <span style="color: #333333">=</span> l<span style="color: #333333">.</span>shape[<span
                                            style="color: #0000DD; font-weight: bold">0</span>], r<span
                                            style="color: #333333">.</span>shape[<span
                                            style="color: #0000DD; font-weight: bold">1</span>], l<span
                                            style="color: #333333">.</span>shape[<span
                                            style="color: #0000DD; font-weight: bold">1</span>] <span
                                            style="color: #888888"># Запоминаем размеры матриц.</span>
    <span style="color: #888888"># Метод .shape -- возвращает (N, M) если матрица размером NxM</span>
    lst <span style="color: #333333">=</span> [] <span style="color: #888888"># Итоговая матрица произведения</span>

    <span style="color: #008800; font-weight: bold">for</span> i <span
                                            style="color: #000000; font-weight: bold">in</span> <span
                                            style="color: #007020">range</span>(n): <span style="color: #888888"># Пробегаем все строчки</span>
        lst<span style="color: #333333">.</span>append([])
        <span style="color: #008800; font-weight: bold">for</span> j <span
                                            style="color: #000000; font-weight: bold">in</span> <span
                                            style="color: #007020">range</span>(m):
            prod <span style="color: #333333">=</span> <span style="color: #0000DD; font-weight: bold">0</span> <span
                                            style="color: #888888"># Элемент текущей суммы</span>
            <span style="color: #008800; font-weight: bold">for</span> k <span
                                            style="color: #000000; font-weight: bold">in</span> <span
                                            style="color: #007020">range</span>(p):
                prod <span style="color: #333333">+=</span> l[i, k] <span style="color: #333333">*</span> r[k, j]
            lst[i]<span style="color: #333333">.</span>append(prod)

    <span style="color: #008800; font-weight: bold">return</span> Matrix(lst) <span style="color: #888888"># Возвращает класс Матрицы</span>
</pre>
                                </div>


                                {#-------------------------------------------------------#}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}