{% extends 'matrix_magic/base.html' %}

{% block content %}

    {% if status == 0 %}
        <h1>
            Вычисление произведения матрицы
        </h1>
        <p class="lead">
            На это странице вы можете посчитать произведение двух матриц.
        </p>

        <h3>
            Элементы матрицы вводятся через пробел, строчки разделяются пробелом!
        </h3>

        <div id="alerts"></div>

        <form class="form-group" method="post" id="test_form">{% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="lg-4 col-lg-6">
                        <label for="id_mat_l" style="margin-top: 16px;">Левая матрица</label>
                        {{ form.mat_l }}
                    </div>
                    <div class="lg-4 col-lg-6">
                        <label for="id_mat_r" style="margin-top: 16px;">Правая матрица</label>
                        {{ form.mat_r }}
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" onclick="go();" class="btn btn-warning btn-cm btn-block">Рассчитать</button>
            </div>
            <br>
        </form>

        <script>
            var id_mat_l = $('#id_mat_l');
            var id_mat_r = $('#id_mat_r');

            id_mat_l
                .prop("required", true)
                .addClass("form-control text-monospace")
                .val("1 2 3\n0 2 3\n0 0 3")
                .on({
                    input: function () {
                        id_mat_l.removeClass("is-invalid")
                    }
                });

            id_mat_r
                .prop("required", true)
                .addClass("form-control text-monospace")
                .val("1 2 3\n0 2 3\n0 0 3")
                .on({
                    input: function () {
                        id_mat_r.removeClass("is-invalid")
                    }
                });

            function go() {
                if (is_valid(id_mat_l.val()) && is_valid(id_mat_r.val())) {
                    $('#test_form').submit();
                }
                if (!is_valid(id_mat_l.val())) {
                    id_mat_l.addClass("is-invalid");
                    Alert('Обязательное поле', 'danger')
                }
                if (!is_valid(id_mat_r.val())) {
                    id_mat_l.addClass("is-invalid");
                    Alert('Обязательное поле', 'danger')
                }

            }

            function is_valid(data) {
                return !(data.trim().split(/\s+/)[0] === "")
            }

            function refresh_form() {
                id_mat_r
                    .removeClass("is-invalid");
                id_mat_l
                    .removeClass("is-invalid");
            }

            function Alert(message, type) {
                $('#alerts').html(
                    '<div class="alert alert-' + type + ' alert-dismissible fade show" role="alert"">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close" ' +
                    'onclick="refresh_form();">' +
                    '<span aria-hidden="true">&times;</span>' +
                    '</button>' + message + '</div>');
            }
        </script>

    {% elif status == 1 %}
        {% if err_code == 200 %}
            <h2>Результирующая матрица:</h2>

            <div class="card shadow-lg border-warning" style="margin-bottom: 32px; margin-top: 16px;">
                <div class="card-body">
                    <div class="text-monospace align-items-center text-justify text-center">
                        <pre style="margin-bottom: -8px; margin-top: -8px;">{{ ans }}</pre>
                    </div>
                </div>
            </div>

        {% elif err_code == 420 %}

            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <a href="/matrix/multiply" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                {{ msg }}
            </div>
            {#                Что-то пошло не так, свяжитесь с <a class="alert-link"#}
            {#                                                    href="https://telegram.me/alexnikolenko"#}
            {#                                                    target="_blank">@alexnikolenko</a></div>#}
        {% endif %}
        <div class="row">
            <div class="col-xl-6">
                <a href="/matrix/multiply" class="btn btn-warning btn-block" role="button">
                    Хочу еще!
                </a><br>
            </div>

            <div class="col-xl-6">
                <div id="accordion">
                    <button class="btn btn-outline-secondary btn-cm btn-block collapsed" type="button"
                            data-toggle="collapse"
                            data-target="#collapse_0" aria-expanded="false" aria-controls="collapse_0"> Посмотреть
                        алгоритм
                    </button>
                    <div id="collapse_0" class="multi-collapse collapse" style="">
                        <div class="card">
                            {#-------------------------------------------------------#}
                            <!-- HTML generated using hilite.me -->
                            <div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre
                                    style="margin: 0; line-height: 125%"><span
                                    style="color: #008800; font-weight: bold">def</span> <span
                                    style="color: #0066BB; font-weight: bold">mul</span>(l, r):
    <span style="color: #DD4422">&#39;&#39;&#39;</span>
<span style="color: #DD4422">    Произведение двух матриц &quot;влоб&quot;. Для этого был написан специальный класс Matrix с методом .shape</span>
<span style="color: #DD4422">    :param l: Левая матрица</span>
<span style="color: #DD4422">    :param r: Правая матрица</span>
<span style="color: #DD4422">    :return: класс Матрицы, полученной произведением</span>
<span style="color: #DD4422">    &#39;&#39;&#39;</span>
    <span style="color: #008800; font-weight: bold">if</span> l<span style="color: #333333">.</span>shape[<span
                                        style="color: #0000DD; font-weight: bold">1</span>] <span
                                        style="color: #333333">!=</span> r<span
                                        style="color: #333333">.</span>shape[<span
                                        style="color: #0000DD; font-weight: bold">0</span>]:
        <span style="color: #008800; font-weight: bold">raise</span> NotConsistedMatrices <span style="color: #888888"># Матрицы не согласованны</span>

    n, m, p <span style="color: #333333">=</span> l<span style="color: #333333">.</span>shape[<span
                                        style="color: #0000DD; font-weight: bold">0</span>], r<span
                                        style="color: #333333">.</span>shape[<span
                                        style="color: #0000DD; font-weight: bold">1</span>], l<span
                                        style="color: #333333">.</span>shape[<span
                                        style="color: #0000DD; font-weight: bold">1</span>] <span
                                        style="color: #888888"># Запоминаем размеры матриц.</span>
    <span style="color: #888888"># Метод .shape -- возвращает (N, M) если матрица размером NxM</span>
    lst <span style="color: #333333">=</span> [] <span style="color: #888888"># Итоговая матрица произведения</span>

    <span style="color: #008800; font-weight: bold">for</span> i <span
                                        style="color: #000000; font-weight: bold">in</span> <span
                                        style="color: #007020">range</span>(n): <span style="color: #888888"># Пробегаем все строчки</span>
        lst<span style="color: #333333">.</span>append([])
        <span style="color: #008800; font-weight: bold">for</span> j <span
                                        style="color: #000000; font-weight: bold">in</span> <span
                                        style="color: #007020">range</span>(m):
            prod <span style="color: #333333">=</span> <span style="color: #0000DD; font-weight: bold">0</span> <span
                                        style="color: #888888"># Элемент текущей суммы</span>
            <span style="color: #008800; font-weight: bold">for</span> k <span
                                        style="color: #000000; font-weight: bold">in</span> <span
                                        style="color: #007020">range</span>(p):
                prod <span style="color: #333333">+=</span> l[i, k] <span style="color: #333333">*</span> r[k, j]
            lst[i]<span style="color: #333333">.</span>append(prod)

    <span style="color: #008800; font-weight: bold">return</span> Matrix(lst) <span style="color: #888888"># Возвращает класс Матрицы</span>
</pre>
                            </div>

                            {#-------------------------------------------------------#}
                        </div>
                    </div>
                    <br></div>
            </div>
        </div>

    {% endif %}


{% endblock %}